
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    font-size: 2rem;
    margin: 0;
    
}

form{ 
    border: #000 solid 1px;
    border-radius: 30px;
    width: 70%;
    margin: 0px auto;
    padding: 0px;
    
    input{
        border-radius: 30px;
        border: none;
        padding: 7px 20px;
    }

    button{
        background-color: #fff;
        border: none;
        padding: 7px 17px;
        border-radius: 30px;
    }
}
ul{
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}

img{
    max-width: 100%;
}

header nav{ 

    
    form label{
    visibility: hidden;
    position:absolute
    }

    
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;   
        align-items: center;     
        li{
            padding: 0.5rem;
        }
        
    }
}

#bruker-meny{
    flex-direction: row;
    justify-content: center;
}

#Brødsmuler{
    flex-direction: row;
}

#banner{
    background-image: url(https://picsum.photos/360);
    background-color: rgba(225, 225, 225, 0.5);
    padding: 1.5rem;
    text-align: right;
    border-radius: 30px;
    a{
        background-color: #fff;
        padding: 0.5rem;
        font-weight: bold;
        border-radius: 30px;
    }
}

#pop-produkter nav ul{ 
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    li{
        border: #000 solid 1px;
        padding: 0.5rem;
        margin: auto;
        width: 100px;
        border-radius: 30px;
        text-align: center;
    }
}

#pop-kategorier{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    article{
        border: #000 solid 1px;
        margin: 8px;
        padding: 80px;
        text-align: center;
        
    }
}

footer{
    section{ 
        h5{
            font-size: 1.5rem;
        }
        h6{
            font-size: 1.2rem;
            margin: 0;
        }
        ul{
            padding: 0;
            li{
                display: flex;
                align-items: center;
                p{
                    margin: 0;
                }
                
            }
            a{
                text-decoration: none;
                color: #000;
                margin: 5px;
            }
            i{
                padding: 5px;
            }
        }
    }
}

@media only screen and (min-width:800px){
    
}